@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    background-color: #fff;
    color:#000;
    height:100vh;
    display:flex;    
    justify-content: center;
    align-items: center;
}
.heading{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.todo-body{
    background-color: #f2f2f2;
    width:350px;
    min-height: 500px;
    height:auto;
    border-radius:10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.todo-body h2{
    font-weight: 500;
    font-size:25px;
    letter-spacing: 2px;
    display:inline-block;
    margin:15px 0px 0px 10px;
}
.heading i{
    margin:15px 10px 0px 10px;
    cursor: pointer;
    /* color: #ffffff61; */
}
.todo-body ul{
    list-style-type: none;
}
.todo-body hr{
    border:0.2px solid #29292a90;
    margin:15px 0px;
   
}

.todo-body p{
display:inline;
font-weight:400;
letter-spacing: 1px;
}
.todo-body span{
display:block;
margin-left:42px;
font-size:10px;
}
.check{
   
    width:20px;
    cursor: pointer;
}
.todo-body li{
    margin:10px 0;
}
.todo-body i{
    margin:0 10px;
}
.checked{
    text-decoration: line-through;
}

.new-task button{
    height:30px;
    width:60px;
    background-color: #fff !important;
    border-radius: 5px;
    outline: 0;
    border:0;
    cursor: pointer;
    margin-left:5px;
}
.new-task input{
    height:30px;
    width:200px;
    border-radius: 3px;
    outline: 0;
    border:0;
    margin-left:10px;
}
.new-task i{
    cursor: pointer;
    margin-right:10px;
}
.list-item{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.task-info{
    padding-left: 20px;
}
.submit{
    font-weight: 500;
}
.submit:hover{
    transform: scale(0.98);
}
.cross{
margin-left:50%;
cursor: pointer;
margin-right:18px !important;
}

a{  font-size: 10px;
    color: #a7a7a7;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%);
}